<h1>Introdução</h1>
<p>Api desenvolvida para uso do app Abstrakt, uma opção para registrar pensamento disfuncionais ao longo de seu dia.</p>

<h2>Colaboradores</h2>
<p><strong>Gustavo Amorim</strong>: Idealizador e Desenvolvedor Web</p>
<p><strong>Daniel Vitor</strong>: Desenvolvedor Fullstack</p>

<h2>Licença</h2>
<p>Confira as licenças e outras informações no repositório do <a href="https://github.com/code-pisces/abstrakt">github</a></p>